<!DOCTYPE html>
<html>
    <head>
        <title>Il blog di Yuuki</title>
    </head>

    <body>

        <!-- titolo -->
        <div>
            <h1> Il blog di Yuuki con Django Girls</h1>
        </div>
        
        <!-- sezione post -->
        {% for post in posts %}
            <div>
                <p>Pubblicato il: {{ post.published_date }} </p>

                <h1><a href="">{{ post.title }}</a></h1>

                <p>{{ post.text}}</p>

                <hr />
            </div>
        {% endfor %}

        <div>
            <p>pubblicato il %date alle %time</p>

            <h2><a href="">Nuovo post!</a></h2>

            <p>Lorem ipsum dolor sit atque</p>
        </div>
    </body>
</html>